<div class="container">
  <h1>Dạng table bình thường</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Phone</th>
        <th scope="col">Date Of Birth</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <th>{{ user.id }}</th>
        <th>{{ user.fullName }}</th>
        <th>{{ user.address }}</th>
        <th>{{ user.age }}</th>
        <th>{{ user.phone }}</th>
        <th>{{ user.dateOfBirth }}</th>
      </tr>
    </tbody>
  </table>
</div>
