<!-- <hot-table
  [data]="dataset"
  [colHeaders]="true"
  [rowHeaders]="false"
  height="auto"
  licenseKey="non-commercial-and-evaluation"
>
  <hot-column data="id" [readOnly]="true" title="ID"></hot-column>
  <hot-column data="name" title="Full name"></hot-column>
  <hot-column data="address" title="Street name"></hot-column>
  <hot-column data="age" title="Age"></hot-column>
</hot-table> -->
<div class="container">
  <h1 class="title">Demo Handsontable</h1>
  <app-formfield></app-formfield>
  <hot-table
    [settings]="hotSettings"
    [data]="dataset"
    [colWidths]="columnWidths"
  ></hot-table>
</div>
