<div class="parent">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Open Form
  </button>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="mx-1 mx-md-4"
          [formGroup]="formDataUser"
          (ngSubmit)="onSubmit()"
        >
          <div class="d-flex flex-row align-items-center mb-2">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="name">Full Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="fullName"
              />
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-2">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="address">Address</label>
              <input
                type="text"
                id="address"
                class="form-control"
                formControlName="address"
              />
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-2">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="age">Age</label>
              <input
                type="number"
                id="age"
                class="form-control"
                name="age"
                formControlName="age"
              />
            </div>
          </div>
          <div class="d-flex flex-row align-items-center mb-2">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="phone">Phone</label>
              <input
                type="number"
                id="phone"
                class="form-control"
                formControlName="phone"
              />
            </div>
          </div>
          <div class="d-flex flex-row align-items-center mb-2">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="date">Date of Birth</label>
              <input
                type="datetime-local"
                id="date"
                class="form-control"
                formControlName="date"
              />
            </div>
          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-primary btn-lg">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
